<div class="navbar-custom topnav-navbar topnav-navbar-dark">
  <div class="container-fluid">
    <!-- LOGO -->
    <a href="/dashboard" class="topnav-logo">
      <span class="topnav-logo-lg">
        <img src="/assets/admin/images/logo-light.png" alt="" height="16" />
      </span>
      <span class="topnav-logo-sm">
        <img src="/assets/admin/images/logo_sm.png" alt="" height="16" />
      </span>
    </a>

    <ul class="list-unstyled topbar-right-menu float-right mb-0">
  
        <a
          class="nav-link dropdown-toggle nav-user arrow-none mr-0"
          data-toggle="dropdown"
          id="topbar-userdrop"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="account-user-avatar">
            <img
              src="/assets/admin/images/users/avatar-1.jpg"
              alt="user-image"
              class="rounded-circle"
            />
          </span>
          <span>
            <span class="account-user-name"><%= user.name_en %></span>
            <span class="account-position"><%= user.type %></span>
          </span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown"
          aria-labelledby="topbar-userdrop"
        >
          <!-- item-->
          <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome ! <%= user.name_en %></h6>
          </div>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <i class="mdi mdi-account-circle mr-1"></i>
            <span>My Account</span>
          </a>

          <!-- item-->

          <!-- item-->
          <a href="/logout" class="dropdown-item notify-item">
            <i class="mdi mdi-logout mr-1"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
   
    
  </div>
</div>
